<div class="container-fluid py-3">
  <h1>Angular reCAPTCHA v2</h1>

  <form #form="ngForm">
    <div class="row pt-3">
      <div class="col-sm-12 form-group">
        <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
          <div *ngIf="recaptcha.errors?.required">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-12 form-group">
        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="send(form)">Send</button>
      </div>
    </div>
  </form>
</div>
